.preloader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#1f2528;
	z-index: 3;
	opacity: 1;
	transition: 500ms all;
	visibility: visible;
}

.preloader img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done{
	opacity: 0;
	visibility: hidden;
}

.loader{
	width: 140px;
	height: 140px;
	border: 10px solid #fff;
	border-radius: 50%;
    border-top-color: #e40404;
    border-bottom-color: #0f87b5;
    border-left-color: #1f2528;
    border-right-color: #1f2528;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	 animation-duration: 1s;
	animation-name: slidein;
	animation-direction: normal;
	animation-iteration-count:infinite;
	
}



@keyframes slidein {
  from{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}